//- especialidadInfo.pug
.mb-3
    label(for="especialidad-input", class="form-label") Especialidad:
    input(type="text", id="especialidad-input", class="form-control", required, placeholder="Buscar especialidad")
    input(type="hidden", name="id_especialidad", id="id_especialidad", required)